* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
    padding: 20px;
}


main {
    width: 100%;
    max-width: 420px;
    background: rgba(255, 255, 255, 0.08);
    backdrop-filter: blur(15px);
    border-radius: 20px;
    padding: 40px 30px;
    text-align: center;
    color: white;
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.4);
    transition: all 0.4s ease;
}
.profile-picture {
    width: 130px;
    border-radius: 50%;
    border: 4px solid linear-gradient(135deg, #0f2027, #203a43, #2c5364);;
    margin-bottom: 20px;
}

h1 {
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 10px;
}

p {
    font-size: 18px;
    opacity: 0.8;
    margin-bottom: 30px;
}


.nav-links a {
    display: block;
    text-decoration: none;
    background: white;
    color: #203a43;
    padding: 12px;
    border-radius: 12px;
    margin-bottom: 15px;
    font-weight: 600;
    transition: all 0.3s ease;
}

.nav-links a:hover {
    transform: translateY(-3px);
    background: #00c6ff;
    color: white;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}


.social-icons {
    display: flex;
    justify-content: center;
    gap: 25px;
    margin-top: 20px;
}

.social-icons img {
    width: 30px;
    height: 30px;
    filter: brightness(0) invert(1);
    transition: transform 0.3s ease;

}

.social-icons img:hover {
    transform: scale(1.2);
}


@media (min-width: 650px) {
    main {
        max-width: 750px;
        padding: 60px 80px;
    }

    h1 {
        font-size: 42px;
    }

    p {
        font-size: 20px;
    }

    main a {
        font-size: 18px;
    }
}